<%- include("./partials/head") %>
<body>
    <header>
        <nav>
            <li><a href="/products">Productos</a></li>
        </nav>
    </header>
    <main>
        <h1><%=titulo%></h1>
        <h2>  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ut laudantium dolores quisquam, suscipit eos illum placeat 
            assumenda ducimus nostrum vel animi dignissimos deleniti explicabo 
            expedita voluptate dolorum molestias accusamus optio.
        </h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ut laudantium dolores quisquam, suscipit eos illum placeat 
            assumenda ducimus nostrum vel animi dignissimos deleniti explicabo 
            expedita voluptate dolorum molestias accusamus optio.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ut laudantium dolores quisquam, suscipit eos illum placeat 
            assumenda ducimus nostrum vel animi dignissimos deleniti explicabo 
            expedita voluptate dolorum molestias accusamus optio.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ut laudantium dolores quisquam, suscipit eos illum placeat 
            assumenda ducimus nostrum vel animi dignissimos deleniti explicabo 
            expedita voluptate dolorum molestias accusamus optio.</p>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>